[submodule "sem9HWClient-task"]
	path = sem9HWClient-task
	url = https://github.com/Danil717-717/sem9HWClient-task.git
[submodule "sem9HWClient-executor"]
	path = sem9HWClient-executor
	url = https://github.com/Danil717-717/sem9HWClient-executor.git
